[Unit]
Description=RyzenAdj power settings
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/ryzenadj  --slow-limit=9000 --fast-limit=13000 --tctl-temp 60 --power-saving
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

